<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,157},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,157},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_disco_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,357},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_frankenstein.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,357},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_gold_frankenstein.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,557},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_gold_mummy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,557},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_gold_vamprie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,757},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_micro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,757},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_mummy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,957},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,957},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_scatter .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,1157},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_scatter_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,1157},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_speaker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,1357},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,1357},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_text_grand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,78}</string>
                <key>spriteSourceSize</key>
                <string>{220,78}</string>
                <key>textureRect</key>
                <string>{{163,0},{220,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_text_major.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,78}</string>
                <key>spriteSourceSize</key>
                <string>{237,78}</string>
                <key>textureRect</key>
                <string>{{218,78},{237,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_text_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,78}</string>
                <key>spriteSourceSize</key>
                <string>{163,78}</string>
                <key>textureRect</key>
                <string>{{0,0},{163,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_text_minor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,79}</string>
                <key>spriteSourceSize</key>
                <string>{218,79}</string>
                <key>textureRect</key>
                <string>{{0,78},{218,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_vampire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,1557},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_wolf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,1557},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotCharactor.png</string>
            <key>size</key>
            <string>{455,1757}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e87ba6d31434137c555434629327cd16:f7aa99dd85b9e32a7f6498436c26bc80:7c59c4047e654f799c189f2682311507$</string>
            <key>textureFileName</key>
            <string>SlotCharactor.png</string>
        </dict>
    </dict>
</plist>
