<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>avatar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,465},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,465},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,338},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,127},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,846},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,719},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,592},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,338},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,211},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,211},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,0},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,846},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,719},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,592},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>

			<key>avatar_border.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{216,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,210}}</string>
				<key>sourceSize</key>
				<string>{216,210}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>Avatar.png</string>
			</dict>
		</dict>
</plist>