<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>emotion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{70,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{70,67}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,70},{67,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,10},{67,64}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,0},{67,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,7},{67,69}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,326},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,11},{67,65}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,135},{68,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,12},{68,64}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,0},{67,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{67,70}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,201},{67,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,13},{67,60}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{70,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,13},{70,60}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{70,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{70,68}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,0},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{68,70}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,334},{69,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,10},{69,64}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,71},{68,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,12},{68,63}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,266},{68,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,10},{68,64}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,399},{68,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,10},{68,63}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,261},{67,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,8},{67,64}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{70,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{70,67}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,135},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,8},{67,65}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,392},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,8},{67,67}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,266},{69,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,7},{69,67}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,324},{67,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,11},{67,60}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,399},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,12},{68,60}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,262},{67,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,12},{67,61}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,331},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,10},{68,60}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,392},{67,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,10},{67,63}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

			<key>emotion_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,200},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,10},{68,60}}</string>
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>Emotion.png</string>
			</dict>
		</dict>
</plist>