<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skm_gift_balloon.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,257},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_clap.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,254},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_egg.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,0},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,127},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_kiss.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,384},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{125,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_rocket.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_rose.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_tnt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{136,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{136,129}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_tomato.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,381},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{125,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_water.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

			<key>skm_gift_wine.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{126,126}}</string>
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>Gifts.png</string>
			</dict>
		</dict>
</plist>