<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,168}</string>
                <key>spriteSourceSize</key>
                <string>{124,168}</string>
                <key>textureRect</key>
                <string>{{0,101},{124,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{0,284},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,332}</string>
                <key>spriteSourceSize</key>
                <string>{124,332}</string>
                <key>textureRect</key>
                <string>{{0,534},{124,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,414}</string>
                <key>spriteSourceSize</key>
                <string>{124,414}</string>
                <key>textureRect</key>
                <string>{{0,866},{124,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boat6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,496}</string>
                <key>spriteSourceSize</key>
                <string>{124,496}</string>
                <key>textureRect</key>
                <string>{{0,1280},{124,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{124,0},{124,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,168}</string>
                <key>spriteSourceSize</key>
                <string>{124,168}</string>
                <key>textureRect</key>
                <string>{{124,101},{124,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{124,284},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,332}</string>
                <key>spriteSourceSize</key>
                <string>{124,332}</string>
                <key>textureRect</key>
                <string>{{124,534},{124,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,414}</string>
                <key>spriteSourceSize</key>
                <string>{124,414}</string>
                <key>textureRect</key>
                <string>{{124,866},{124,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,496}</string>
                <key>spriteSourceSize</key>
                <string>{124,496}</string>
                <key>textureRect</key>
                <string>{{124,1280},{124,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plane1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{248,0},{124,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plane2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,168}</string>
                <key>spriteSourceSize</key>
                <string>{124,168}</string>
                <key>textureRect</key>
                <string>{{248,101},{124,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plane3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{248,284},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plane4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,332}</string>
                <key>spriteSourceSize</key>
                <string>{124,332}</string>
                <key>textureRect</key>
                <string>{{248,534},{124,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plane5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,414}</string>
                <key>spriteSourceSize</key>
                <string>{124,414}</string>
                <key>textureRect</key>
                <string>{{248,866},{124,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plane6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,496}</string>
                <key>spriteSourceSize</key>
                <string>{124,496}</string>
                <key>textureRect</key>
                <string>{{248,1280},{124,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,101}</string>
                <key>spriteSourceSize</key>
                <string>{124,101}</string>
                <key>textureRect</key>
                <string>{{372,0},{124,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,183}</string>
                <key>spriteSourceSize</key>
                <string>{124,183}</string>
                <key>textureRect</key>
                <string>{{372,101},{124,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{372,284},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,332}</string>
                <key>spriteSourceSize</key>
                <string>{124,332}</string>
                <key>textureRect</key>
                <string>{{372,534},{124,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,414}</string>
                <key>spriteSourceSize</key>
                <string>{124,414}</string>
                <key>textureRect</key>
                <string>{{372,866},{124,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tank6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,496}</string>
                <key>spriteSourceSize</key>
                <string>{124,496}</string>
                <key>textureRect</key>
                <string>{{372,1280},{124,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>symbols2.png</string>
            <key>size</key>
            <string>{496,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92b292f91a494b6b0cda5195a194ed8f:343cff7d909a65b8dffb883edef3a312:3cef301f08e7c1f0044765045cd5d002$</string>
            <key>textureFileName</key>
            <string>symbols2.png</string>
        </dict>
    </dict>
</plist>
