<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,168}</string>
                <key>spriteSourceSize</key>
                <string>{124,168}</string>
                <key>textureRect</key>
                <string>{{0,121},{124,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{0,289},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,332}</string>
                <key>spriteSourceSize</key>
                <string>{124,332}</string>
                <key>textureRect</key>
                <string>{{0,539},{124,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,414}</string>
                <key>spriteSourceSize</key>
                <string>{124,414}</string>
                <key>textureRect</key>
                <string>{{0,871},{124,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,496}</string>
                <key>spriteSourceSize</key>
                <string>{124,496}</string>
                <key>textureRect</key>
                <string>{{0,1285},{124,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Girl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{124,0},{124,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Girl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,168}</string>
                <key>spriteSourceSize</key>
                <string>{124,168}</string>
                <key>textureRect</key>
                <string>{{124,121},{124,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Girl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{124,289},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Girl4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,332}</string>
                <key>spriteSourceSize</key>
                <string>{124,332}</string>
                <key>textureRect</key>
                <string>{{124,539},{124,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Girl5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,414}</string>
                <key>spriteSourceSize</key>
                <string>{124,414}</string>
                <key>textureRect</key>
                <string>{{124,871},{124,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Girl6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,496}</string>
                <key>spriteSourceSize</key>
                <string>{124,496}</string>
                <key>textureRect</key>
                <string>{{124,1285},{124,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Scatter5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,414}</string>
                <key>spriteSourceSize</key>
                <string>{124,414}</string>
                <key>textureRect</key>
                <string>{{248,871},{124,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Scatter6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,496}</string>
                <key>spriteSourceSize</key>
                <string>{124,496}</string>
                <key>textureRect</key>
                <string>{{248,1285},{124,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wild1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,121}</string>
                <key>spriteSourceSize</key>
                <string>{124,121}</string>
                <key>textureRect</key>
                <string>{{372,0},{124,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wild2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,168}</string>
                <key>spriteSourceSize</key>
                <string>{124,168}</string>
                <key>textureRect</key>
                <string>{{372,121},{124,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wild3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{372,289},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wild4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,332}</string>
                <key>spriteSourceSize</key>
                <string>{124,332}</string>
                <key>textureRect</key>
                <string>{{372,539},{124,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wild5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,414}</string>
                <key>spriteSourceSize</key>
                <string>{124,414}</string>
                <key>textureRect</key>
                <string>{{372,871},{124,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wild6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,496}</string>
                <key>spriteSourceSize</key>
                <string>{124,496}</string>
                <key>textureRect</key>
                <string>{{372,1285},{124,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scatter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,90}</string>
                <key>spriteSourceSize</key>
                <string>{124,90}</string>
                <key>textureRect</key>
                <string>{{248,0},{124,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scatter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,168}</string>
                <key>spriteSourceSize</key>
                <string>{124,168}</string>
                <key>textureRect</key>
                <string>{{248,121},{124,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scatter3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{248,289},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scatter4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,332}</string>
                <key>spriteSourceSize</key>
                <string>{124,332}</string>
                <key>textureRect</key>
                <string>{{248,539},{124,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>symbols1.png</string>
            <key>size</key>
            <string>{496,1781}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf7e67208597cba9fd9d007a05562314:12e4dcad9aceda6b03fdd934c6a4cd31:3e87e9c572e7c97e9600747e4d8a04f6$</string>
            <key>textureFileName</key>
            <string>symbols1.png</string>
        </dict>
    </dict>
</plist>
