<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbols_rect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,82}</string>
                <key>spriteSourceSize</key>
                <string>{120,82}</string>
                <key>textureRect</key>
                <string>{{0,85},{120,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbols_rect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,164}</string>
                <key>spriteSourceSize</key>
                <string>{120,164}</string>
                <key>textureRect</key>
                <string>{{0,167},{120,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbols_rect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,246}</string>
                <key>spriteSourceSize</key>
                <string>{120,246}</string>
                <key>textureRect</key>
                <string>{{0,331},{120,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbols_rect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,328}</string>
                <key>spriteSourceSize</key>
                <string>{120,328}</string>
                <key>textureRect</key>
                <string>{{0,577},{120,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbols_rect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,410}</string>
                <key>spriteSourceSize</key>
                <string>{120,410}</string>
                <key>textureRect</key>
                <string>{{0,905},{120,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbols_rect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,492}</string>
                <key>spriteSourceSize</key>
                <string>{120,492}</string>
                <key>textureRect</key>
                <string>{{0,1315},{120,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>symbols4.png</string>
            <key>size</key>
            <string>{120,1807}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7daa50cd66d3fd46c4c5d0d9d0ea60a3:0180cd8fd1db3be85627972dbca581d6:c9cc064133cad3de3bc45eb463a2769e$</string>
            <key>textureFileName</key>
            <string>symbols4.png</string>
        </dict>
    </dict>
</plist>
