<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{560,804},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{700,804},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{840,804},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{0,1005},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{140,0},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{280,0},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{420,0},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{560,0},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{700,0},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{840,0},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{0,201},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{140,201},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{280,201},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{420,201},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{560,201},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{700,201},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{840,201},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{0,402},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{140,402},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{280,402},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{420,402},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{560,402},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{700,402},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{840,402},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{0,603},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{140,603},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{280,603},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{420,603},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{560,603},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{700,603},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{840,603},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{0,804},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{140,804},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{280,804},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{420,804},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{140,1005},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{280,1005},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{420,1005},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{560,1005},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{700,1005},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_hight_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,208}</string>
                <key>spriteSourceSize</key>
                <string>{146,208}</string>
                <key>textureRect</key>
                <string>{{560,1407},{146,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>j_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{840,1005},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>j_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{0,1206},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>j_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{140,1206},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>j_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{280,1206},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>k_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{420,1206},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>k_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{560,1206},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>k_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{700,1206},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>k_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{840,1206},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{0,1407},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{140,1407},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{280,1407},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{140,201}</string>
                <key>textureRect</key>
                <string>{{420,1407},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{980,1615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bdce4cde4c8031af1e8e5334fdbfdd5:5f7b675d82717bf439fc825837631754:7a604e4d094c5c24f2d2baa176a2f6c3$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
