<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pok_chip_bet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,64}</string>
                <key>spriteSourceSize</key>
                <string>{142,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{142,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pok_chip_bet_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,64}</string>
                <key>spriteSourceSize</key>
                <string>{142,64}</string>
                <key>textureRect</key>
                <string>{{142,0},{142,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pok_chip_net_me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,85}</string>
                <key>spriteSourceSize</key>
                <string>{265,85}</string>
                <key>textureRect</key>
                <string>{{0,64},{265,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pok_frame_me_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,207}</string>
                <key>spriteSourceSize</key>
                <string>{384,207}</string>
                <key>textureRect</key>
                <string>{{0,149},{384,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pok_frame_me_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,207}</string>
                <key>spriteSourceSize</key>
                <string>{384,207}</string>
                <key>textureRect</key>
                <string>{{0,356},{384,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pok_frame_player_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,202}</string>
                <key>spriteSourceSize</key>
                <string>{168,202}</string>
                <key>textureRect</key>
                <string>{{0,563},{168,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pok_frame_player_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,202}</string>
                <key>spriteSourceSize</key>
                <string>{168,202}</string>
                <key>textureRect</key>
                <string>{{168,563},{168,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>InfoUser.png</string>
            <key>size</key>
            <string>{384,765}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3f0e45f71e5c8d50860e200032107fb:885564c9f316eeaa214dc1a0faaec974:ed82f3e54da802a1d64d035c7f36f2b0$</string>
            <key>textureFileName</key>
            <string>InfoUser.png</string>
        </dict>
    </dict>
</plist>
