<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bc_chip_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,299},{144,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,149}}</string>
				<key>sourceSize</key>
				<string>{144,149}</string>
			</dict>

			<key>bc_chip_100k.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,0},{143,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,148}}</string>
				<key>sourceSize</key>
				<string>{143,152}</string>
			</dict>

			<key>bc_chip_10k.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,748},{143,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,148}}</string>
				<key>sourceSize</key>
				<string>{143,152}</string>
			</dict>

			<key>bc_chip_10m.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,149},{142,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{142,148}}</string>
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>

			<key>bc_chip_1k.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,449},{144,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,149}}</string>
				<key>sourceSize</key>
				<string>{144,149}</string>
			</dict>

			<key>bc_chip_1m.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,599},{143,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,148}}</string>
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>

			<key>bc_chip_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,148}}</string>
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>

			<key>bc_chip_500k.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,149},{144,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,149}}</string>
				<key>sourceSize</key>
				<string>{144,149}</string>
			</dict>

			<key>bc_chip_50k.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,599},{143,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,148}}</string>
				<key>sourceSize</key>
				<string>{143,148}</string>
			</dict>

			<key>bc_chip_50m.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,446},{142,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,147}}</string>
				<key>sourceSize</key>
				<string>{142,147}</string>
			</dict>

			<key>bc_chip_5k.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,748},{143,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,148}}</string>
				<key>sourceSize</key>
				<string>{143,148}</string>
			</dict>

			<key>bc_chip_5m.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,298},{142,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,147}}</string>
				<key>sourceSize</key>
				<string>{142,147}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>BCChip.png</string>
			</dict>
		</dict>
</plist>