<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>slot_bar_line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,742},{458,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{458,50}}</string>
				<key>sourceSize</key>
				<string>{460,52}</string>
			</dict>

			<key>slot_bar_line_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,793},{299,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{299,32}}</string>
				<key>sourceSize</key>
				<string>{301,34}</string>
			</dict>

			<key>slot_bg_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{914,654}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{914,654}}</string>
				<key>sourceSize</key>
				<string>{916,656}</string>
			</dict>

			<key>slot_btn_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,826},{115,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{115,52}}</string>
				<key>sourceSize</key>
				<string>{117,54}</string>
			</dict>

			<key>slot_btn_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,879},{115,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{115,52}}</string>
				<key>sourceSize</key>
				<string>{117,54}</string>
			</dict>

			<key>slot_close_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,912},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,72}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>slot_icon_music.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,932},{80,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{80,85}}</string>
				<key>sourceSize</key>
				<string>{82,87}</string>
			</dict>

			<key>slot_icon_phone.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,826},{78,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{78,85}}</string>
				<key>sourceSize</key>
				<string>{80,87}</string>
			</dict>

			<key>slot_icon_speaker.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,932},{108,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{108,86}}</string>
				<key>sourceSize</key>
				<string>{110,88}</string>
			</dict>

			<key>slot_music_nut.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,826},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{59,59}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>

			<key>slot_nut.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,826},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{59,59}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>

			<key>slot_nut_slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,886},{34,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{34,58}}</string>
				<key>sourceSize</key>
				<string>{36,60}</string>
			</dict>

			<key>slot_txt_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,655},{467,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{467,86}}</string>
				<key>sourceSize</key>
				<string>{469,88}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>SlotSetting.png</string>
			</dict>
		</dict>
</plist>