<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card_10_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,716},{137,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{137,178}}</string>
				<key>sourceSize</key>
				<string>{139,180}</string>
			</dict>

			<key>card_10_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,0},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_10_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,716},{138,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,179}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_10_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,725},{139,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,179}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_2_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,0},{137,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{137,178}}</string>
				<key>sourceSize</key>
				<string>{139,180}</string>
			</dict>

			<key>card_2_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,718},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{138,178}}</string>
				<key>sourceSize</key>
				<string>{139,180}</string>
			</dict>

			<key>card_2_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,538},{138,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,179}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_2_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,537},{137,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{137,178}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_3_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,180},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_3_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,0},{139,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,179}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_3_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,716},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_3_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,537},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_4_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,358},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_4_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,179},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_4_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,537},{137,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{137,177}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_4_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,716},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_5_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,537},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_5_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,359},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_5_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,179},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_5_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,0},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_6_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,721},{139,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,179}}</string>
				<key>sourceSize</key>
				<string>{139,180}</string>
			</dict>

			<key>card_6_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,537},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_6_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,358},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_6_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,0},{137,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{137,178}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_7_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,540},{139,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,180}}</string>
				<key>sourceSize</key>
				<string>{139,180}</string>
			</dict>

			<key>card_7_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,358},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_7_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,0},{138,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,179}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_7_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,179},{137,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{137,178}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_8_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,359},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_8_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,0},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_8_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,362},{139,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,179}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_8_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,180},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_9_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,180},{139,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{139,178}}</string>
				<key>sourceSize</key>
				<string>{139,180}</string>
			</dict>

			<key>card_9_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,722},{139,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,179}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_9_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,538},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_9_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,542},{139,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,179}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_a_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,182},{139,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,179}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_a_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,725},{139,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,179}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_a_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,179},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

			<key>card_a_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,0},{137,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{137,178}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,179},{131,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,177}}</string>
				<key>sourceSize</key>
				<string>{131,177}</string>
			</dict>

			<key>card_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{141,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,181}}</string>
				<key>sourceSize</key>
				<string>{141,181}</string>
			</dict>

			<key>card_j_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,182},{140,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,180}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_j_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,537},{137,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{137,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_j_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,358},{137,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{137,178}}</string>
				<key>sourceSize</key>
				<string>{139,180}</string>
			</dict>

			<key>card_j_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{140,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,180}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_k_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,544},{140,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,180}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_k_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,359},{139,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,180}}</string>
				<key>sourceSize</key>
				<string>{139,180}</string>
			</dict>

			<key>card_k_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,716},{137,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{137,178}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_k_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,179},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_q_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,358},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_q_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,715},{137,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{137,178}}</string>
				<key>sourceSize</key>
				<string>{140,180}</string>
			</dict>

			<key>card_q_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{139,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,179}}</string>
				<key>sourceSize</key>
				<string>{139,179}</string>
			</dict>

			<key>card_q_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,0},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{138,178}}</string>
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>Cards.png</string>
			</dict>
		</dict>
</plist>