<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skm_room_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,0},{276,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,359}}</string>
				<key>sourceSize</key>
				<string>{276,359}</string>
			</dict>

			<key>skm_room_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{276,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,359}}</string>
				<key>sourceSize</key>
				<string>{276,359}</string>
			</dict>

			<key>skm_room_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{276,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,359}}</string>
				<key>sourceSize</key>
				<string>{276,359}</string>
			</dict>

			<key>skm_room_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,0},{276,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,359}}</string>
				<key>sourceSize</key>
				<string>{276,359}</string>
			</dict>

			<key>skm_room_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,360},{276,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,359}}</string>
				<key>sourceSize</key>
				<string>{276,359}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>BgRoom.png</string>
			</dict>
		</dict>
</plist>