<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sceneSlotSand2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1831,505}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{1831,505}}</string>
        <key>sourceSize</key>
        <string>{1836,501}</string>
      </dict>
      <key>sceneSlotPyramid.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,505},{1621,559}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{1621,559}}</string>
        <key>sourceSize</key>
        <string>{1617,555}</string>
      </dict>
      <key>sceneSlotPyramid0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1064},{1619,558}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{-1,-2},{1619,558}}</string>
        <key>sourceSize</key>
        <string>{1617,555}</string>
      </dict>
      <key>paytable1Sand.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1622},{1294,286}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{1294,286}}</string>
        <key>sourceSize</key>
        <string>{1290,282}</string>
      </dict>
      <key>sceneSlotPyramidBaseSmall0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1621,505},{1260,238}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{1260,238}}</string>
        <key>sourceSize</key>
        <string>{1256,234}</string>
      </dict>
      <key>sceneSlotSand1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1908},{1143,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{-1,-2},{1143,124}}</string>
        <key>sourceSize</key>
        <string>{1140,121}</string>
      </dict>
      <key>paytable1SandFlare.png</key>
      <dict>
        <key>frame</key>
        <string>{{1859,0},{832,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{832,152}}</string>
        <key>sourceSize</key>
        <string>{828,148}</string>
      </dict>
      <key>paytableTitlePlate.png</key>
      <dict>
        <key>frame</key>
        <string>{{1859,832},{790,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{790,142}}</string>
        <key>sourceSize</key>
        <string>{786,138}</string>
      </dict>
      <key>logoPlate.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,1765},{619,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{619,230}}</string>
        <key>sourceSize</key>
        <string>{615,226}</string>
      </dict>
      <key>paytableTitleShine2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,1622},{322,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{186,29},{322,102}}</string>
        <key>sourceSize</key>
        <string>{568,165}</string>
      </dict>
      <key>paytable1TextPlateShine2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1913,1622},{322,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{185,21},{322,101}}</string>
        <key>sourceSize</key>
        <string>{554,144}</string>
      </dict>
      <key>paytable1Symbol4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,1908},{139,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{139,109}}</string>
        <key>sourceSize</key>
        <string>{135,105}</string>
      </dict>
      <key>paytable1Symbol3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1913,1944},{131,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{131,96}}</string>
        <key>sourceSize</key>
        <string>{127,92}</string>
      </dict>
      <key>mask.png</key>
      <dict>
        <key>frame</key>
        <string>{{2014,0},{29,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{29,29}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>lineBoxActive.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,2017},{27,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{-2,-2},{27,26}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>loader_core_default_atlas_0.png</string>
    </dict>
  </dict>
</plist>