<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>labai_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{868,283},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{1,54},{140,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>labai_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1050,283},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{1,235},{140,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>labai_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,180}</string>
                <key>spriteSourceSize</key>
                <string>{139,180}</string>
                <key>textureRect</key>
                <string>{{337,1},{139,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{519,1},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{1232,283},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{700,1},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,180}</string>
                <key>spriteSourceSize</key>
                <string>{139,180}</string>
                <key>textureRect</key>
                <string>{{881,1},{139,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{1063,1},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{1413,283},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1594,283},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{1776,283},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1,419},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{183,424},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{1244,1},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{364,424},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,180}</string>
                <key>spriteSourceSize</key>
                <string>{139,180}</string>
                <key>textureRect</key>
                <string>{{1425,1},{139,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{1607,1},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{545,424},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{1788,1},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,180}</string>
                <key>spriteSourceSize</key>
                <string>{139,180}</string>
                <key>textureRect</key>
                <string>{{143,137},{139,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{325,142},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{727,425},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{908,425},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{506,142},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1089,425},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1271,425},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,180}</string>
                <key>spriteSourceSize</key>
                <string>{139,180}</string>
                <key>textureRect</key>
                <string>{{687,142},{139,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1453,425},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1635,425},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{1817,425},{140,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>labai_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{869,142},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1,561},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{183,566},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{365,566},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{547,567},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{1050,142},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,180}</string>
                <key>spriteSourceSize</key>
                <string>{139,180}</string>
                <key>textureRect</key>
                <string>{{1231,142},{139,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{1413,142},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{1594,142},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{729,567},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{910,567},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,180}</string>
                <key>spriteSourceSize</key>
                <string>{139,180}</string>
                <key>textureRect</key>
                <string>{{1775,142},{139,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{143,278},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{1092,567},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{1273,567},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,180}</string>
                <key>spriteSourceSize</key>
                <string>{139,180}</string>
                <key>textureRect</key>
                <string>{{324,283},{139,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,175}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{160,1},{134,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{506,283},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,179}</string>
                <key>spriteSourceSize</key>
                <string>{139,179}</string>
                <key>textureRect</key>
                <string>{{687,283},{139,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1454,567},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>labai_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,179}</string>
                <key>spriteSourceSize</key>
                <string>{140,179}</string>
                <key>textureRect</key>
                <string>{{1636,567},{140,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shanx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shanx3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{54,1},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shanx5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{107,1},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LaBai.png</string>
            <key>size</key>
            <string>{1968,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b38864b135c39472853588bb1deada96:c8a289f9fd4f297c4fd1a2697be6be0a:30fe3c1e8aec0f1f142a67080107b6c3$</string>
            <key>textureFileName</key>
            <string>LaBai.png</string>
        </dict>
    </dict>
</plist>
